<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/admin.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="hd-logo"><img src="images/top-logo.png" alt="메인로고"></a>
            <ul id="nav-01">
                <li>카넥스</li>
                <li>디자인모드</li>
                <li>사이트 바로가기</li>
            </ul>

            <h3>사이드 관리</h3>
            <ul class="tab">
                <li class="on" data-tab="tab1"><a href="#">대시보드</a></li>
                <li data-tab="tab2"><a href="#">사용자 관리</a></li>
                <li data-tab="tab3"><a href="#">쇼핑</a></li>
                <li data-tab="tab4"><a href="#">예약</a></li>
                <li data-tab="tab5"><a href="#">컨텐츠 관리</a></li>
                <li data-tab="tab6"><a href="#">광고 켐페인 관리</a></li>
                <li data-tab="tab7"><a href="#">APP 신청 및 관리</a></li>
                <li data-tab="tab8"><a href="#">통계</a></li>
                <li data-tab="tab9"><a href="#">환경설정</a></li>
            </ul>

            <h3>리소스 관리</h3>
            <ul>
                <li>고객지원</li>
                <li>카넥스 교육</li>
                <li>디자이너 찾기</li>
                <li>결제/앱스토어</li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="tab-content on" id="tab1">
            <div class="sec-01">
                <h3>대시보드</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                대시보드 내용
            </div>
        </div>

        <div class="tab-content" id="tab2">
            <div class="sec-01">
                <h3>사용자 관리</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                사용자 관리 내용
            </div>
        </div>

        <div class="tab-content" id="tab3">
            <div class="sec-01">
                <h3>쇼핑</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                쇼핑 내용
            </div>
        </div>

        <div class="tab-content" id="tab4">
            <div class="sec-01">
                <h3>예약</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                예약 내용
            </div>
        </div>

        <div class="tab-content" id="tab5">
            <div class="sec-01">
                <h3>컨텐츠 관리</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                컨텐츠 관리 내용
            </div>
        </div>

        <div class="tab-content" id="tab6">
            <div class="sec-01">
                <h3>광고 켐페인 관리</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                광고 켐페인 관리 내용
            </div>
        </div>

        <div class="tab-content" id="tab7">
            <div class="sec-01">
                <h3>APP 신청 및 관리</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                APP 신청 및 관리 내용
            </div>
        </div>

        <div class="tab-content" id="tab8">
            <div class="sec-01">
                <h3>통계</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                통계 내용
            </div>
        </div>

        <div class="tab-content" id="tab9">
            <div class="sec-01">
                <h3>환경설정</h3>
                <div class="sec-btn">
                    <a href="">연장 업그레이드</a>
                    <a href="">나가기</a>
                </div>
            </div>

            <div class="sec-02">
                환경설정 내용
            </div>
        </div>
    </section>

    <footer>
        <div class="foot"></div>
    </footer>
</body>
</html>