<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How To Pay</title>
    <link rel="shortcut icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/common.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/common.js"></script>

    <link rel="stylesheet" href="owlcarousel/owlcarousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="owlcarousel/owlcarousel/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/faq.css" />
    <script src="owlcarousel/owlcarousel/js/owl.carousel.min.js"></script>
    </head>
    <body>
    <header>
      <a href="index.html" class="hd-logo"><img src="images/top-logo.png" alt="메인로고"></a>
      <a id="trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <ul class="top-menu">
        <li><a href="#"><p>로그인</p><i class="bi bi-person-check-fill"></i></a></li>
        <li><a href="#"><p>회원가입</p><i class="bi bi-person-plus-fill"></i></a></li>
      </ul>
      <nav>
        <div id="menu" class="menu">
          <div class="search-wrap">
            <div class="search-box">
              <input type="search" name="keyword" placeholder="Search..." class="inputform">
              <button><i class="bi bi-mic-fill"></i></button>
            </div>
            <button class="top-btn"><i class="bi bi-search"></i></button>
          </div>
          <ul class="menu-list">
            <li>
              <a href="#">About Us</a>
              <ul class="sub-menu">
                <li><a href="aboutus.html">회 사 소 개</a></li>
                <li><a href="aboutus.html">C E O</a></li>
                <li><a href="campaign.html">C a m p a i g n</a></li>
              </ul>
            </li>
            <li>
              <a href="#">How To Deal</a>
              <ul class="sub-menu">
                <li><a href="deal.html">매 물 올 리 기</a></li>
                <li><a href="deal.html">입 찰 중 인 매 물</a></li>
              </ul>
            </li>
            <li>
              <a href="#">How To Pay</a>
              <ul class="sub-menu">
                <li><a href="pay.html">카 드 결 제</a></li>
                <li><a href="pay.html">현 금 결 제</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Model</a>
              <ul class="sub-menu">
                <li><a href="model.html">차 종</a></li>
                <li><a href="model.html">국 산</a></li>
                <li><a href="model.html">수 입</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="bn">
        <svg viewBox="0 0 1320 300" class="bn-svg">
            <text x="50%" y="50%" text-anchor="middle">Q & A</text>
        </svg>
        </div>

    <section>
        <h3><span class="txt-y">F</span>requently Asked<span class="txt-b"> Q</span>uestions</h3>
        <p class="sub-txt">자주 하는 질문</p>

        <div class="faq-wrap">
          <div class="faq-register">
              
          <div class="container">
            <input id="ac-1" type="radio" name="ac">
            <label for="ac-1"><i class="bi bi-quora"></i>&nbsp;결제 취소 / 환불이 필요해요</label>
            <div class="ac-content ac-content-1">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </div>
    

            <input id="ac-2" type="radio" name="ac">
            <label for="ac-2"><i class="bi bi-quora"></i>&nbsp;쇼핑 구매 후 배송 기간이 궁금해요</label>
            <div class="ac-content ac-content-2">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-3" type="radio" name="ac">
            <label for="ac-3"><i class="bi bi-quora"></i>&nbsp;구매한 제품을 교환 및 환불 받고 싶어요</label>
            <div class="ac-content ac-content-3">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-4" type="radio" name="ac">
            <label for="ac-4"><i class="bi bi-quora"></i>&nbsp;가격보장제(최저가보상)란?</label>
            <div class="ac-content ac-content-4">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-5" type="radio" name="ac">
            <label for="ac-5"><i class="bi bi-quora"></i>&nbsp;결제할 때 카드 등록 후 사용할 수 있나요?</label>
            <div class="ac-content ac-content-5">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-6" type="radio" name="ac">
            <label for="ac-6"><i class="bi bi-quora"></i>&nbsp;결제 한도는 어떻게 되나요?</label>
            <div class="ac-content ac-content-6">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-7" type="radio" name="ac">
            <label for="ac-7"><i class="bi bi-quora"></i>&nbsp;단기카드대출 또는 장기카드대출이 거절됐다는 연락을 받았어요</label>
            <div class="ac-content ac-content-7">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-8" type="radio" name="ac">
            <label for="ac-8"><i class="bi bi-quora"></i>&nbsp;결제한 뒤 환불된 금액은 어떻게 확인하나요?</label>
            <div class="ac-content ac-content-8">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-9" type="radio" name="ac">
            <label for="ac-9"><i class="bi bi-quora"></i>&nbsp;제휴 결제수단을 신청할 수 없다고 나와요</label>
            <div class="ac-content ac-content-9">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>

            <input id="ac-10" type="radio" name="ac">
            <label for="ac-10"><i class="bi bi-quora"></i>&nbsp;서비스의 수수료는 무엇인가요?</label>
            <div class="ac-content ac-content-10">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </div>
        </div>


        <h3><span class="txt-y">1</span>:1 Notice<span class="txt-b"> b</span>oard</h3>
        <p class="sub-txt">1:1 문의 게시판</p>

          <div class="faq-user">
            <div clas="faq-board">
              <ul class="poll-list"> 
                <li>NO</li>
                <li>제목</li>
                <li>작성자</li>
                <li>작성일</li>
              </ul>

              <ul class="repeat-list">
                <li>1</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>2</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>3</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>4</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>5</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>6</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>7</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>8</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>9</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <ul class="repeat-list">
                <li>10</li>
                <li>문의드립니다</li>
                <li>김철수</li>
                <li>2024-10-24</li>
              </ul>
              <div class="paging-wrap">
                <i class="paing bi bi-chevron-compact-left"></i>
                <div class="paging">[1]</div>
                <div class="paging">[2]</div>
                <div class="paging">[3]</div>
                <div class="paging">[4]</div>
                <div class="paging">[5]</div>
                <div class="paging">[6]</div>
                <div class="paging">[7]</div>
                <div class="paging">[8]</div>
                <div class="paging">[9]</div>
                <div class="paging">[10]</div>
                <i class="paging bi bi-chevron-compact-right"></i>
              </div>  
            </div>
          </div>
      </div>
      

    </section>

    <footer>
        <div class="ft-wrap">
        <a href="index.html"><img src="images/bottom-logo.png" alt="하단로고"></a>
        <div class="ft-txt">
            <p>(주)카넥스</p>
            <p>Addr : 197road, 12, WorldcupSagang-ro, Seo-gu, Gwangju, Korea | 사업자등록번호 : 123-45-67890 | 통신판매업신고번호 : 2020-광주북구-0408</p>
        </div>
        <ul class="sns">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        </ul>
        </div>
    </footer>
    </body>
</html>
