@charset "UTF-8";

.card-title {margin: 200px auto 30px; width: 1000px;}
.card-title p {padding-top: 10px;}
.wrapper {
  display: flex;  justify-content: space-between;
  margin: 0 auto; width: 1000px;;
}
.card-wrap {width: 600px; background: #f6f6f6; box-shadow: 0 8px 24px 0 rgba(0,0,0,0.5);}
.card {
  position: relative; width: 460px; height: 300px; margin: 50px auto; 
  border-radius: 20px; transition: all 0.4s ease-in-out; cursor: pointer;
}
.card:hover {box-shadow: 5px 3px 5px #000000a2;}
.card-1 {background: url('../images/card-storage/card-01.jpg');}
.card-2 {background: url('../images/card-storage/card-02.jpg');}
.card-3 {background: url('../images/card-storage/card-03.jpg');}


.radio {position: absolute; right: 20px; top: 20px;}

input[type="radio"] {
  appearance: none; width: 30px; height: 30px;
  background-color: #d6d6d6; border-radius: 3px;
  cursor: pointer; outline: none;
}

input[type="radio"]:checked,
input[type="radio"]:checked:hover {
    background-color: blue;
}

input[type="radio"]:hover {
    background-color: #ddd;
}

.card-txt {
  position: absolute; padding: 15px; bottom: 4px; left: 10px;
}
.card-txt li {
  width: 250px; height: 30px; line-height: 30px; color: #333;
  background: #F6F6F6; margin-bottom: 4px; padding-left: 8px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.6) inset;
}

.info {
  position: sticky; top: 20%; 
  height: 640px; background: #e54a39;
  text-align: center; box-shadow: 0 4px 10px 0 rgba(0,0,0,0.6) inset;
}
.info > h4 {margin-top: 25px;}
.info-car {height: 290px; text-align: center; border-bottom: 2px dashed #d9d9d9;}
.info-car-img {
  width: 400px; height: 160px; 
  background: url('/images/model/dcs-bg-3.png') no-repeat center center;
  background-size: cover;
}
.info-car p {font-size: 24px; padding-top: 9px;}
.info-car-txt {width: 380px; margin: 9px auto 0;}
.info-txt {margin-top: 14px;}

.btn {  
  display:block; justify-content: center; align-items: center;
  margin: 110px auto 0; height: 44px; width: 200px; background: #d9d9d9; color: #333;
  text-align: center; line-height: 44px; text-transform: uppercase;
  border: none; border-radius: 4px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5);
  transition: all 200ms linear;
}

.btn:hover{  
  background: #68ade2;
  color: #f6f6f6;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,0.1);
}